	
.ld-quayso{
	position: relative;
	top:10px;
	
	width:450px;
	height:450px;
	margin: auto;
	overflow: hidden;
	margin-top: 10px;
	
}
.ld-vongtron{
	background-image: url('../images/vongquay.png');
	width:450px;
	height:450px;
	position: absolute;
	
}

.ld-kim{
	background-image: url("../images/kimquay.png");
    cursor: pointer;
    height: 125px;
    left: 160px;
    position: absolute;
    top: 160px;
    width: 125px;
}
.ld-item{
	width: 20px;
	height: 20px;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	color:white;
}

.ld-item-1{	left: 258px;
    top: 91px;}
.ld-item-2{	left: 287px;
    top: 97px;}
.ld-item-3{	left: 314px;
    top: 112px;}
.ld-item-4{	left: 337px;
    top: 130px;}
.ld-item-5{	left: 355px;
    top: 152px;}
.ld-item-6{	left: 368px;
    top: 178px;}
.ld-item-7{	left: 377px;
    top: 206px;}
.ld-item-8{	left: 381px;
    top: 234px;}
.ld-item-9{	left: 381px;
    top: 260px;}
.ld-item-10{left: 377px;
    top: 282px;}
.ld-item-11{	left: 368px;
    top: 309px;}
.ld-item-12{	left: 355px;
    top: 332px}
.ld-item-13{	left: 337px;
    top: 358px;}
.ld-item-14{	left: 314px;
    top: 372px;}
.ld-item-15{left: 289px;
    top: 391px;}
.ld-item-16{left: 258px;
    top: 400px;}
.ld-item-17{left: 225px;
    top: 400px;}
.ld-item-18{	left: 199px;
    top: 392px;}
.ld-item-19{	left: 173px;
    top: 380px;}
.ld-item-20{	left: 146px;
    top: 361px;}
.ld-item-21{	left: 120px;
    top: 339px;}
.ld-item-22{	left: 104px;
    top: 315px;}
.ld-item-23{left: 92px;
    top: 286px;}
.ld-item-24{	left: 85px;
    top: 256px;}
.ld-item-25{	left: 80px;
    top: 230px;}
.ld-item-26{left: 85px;
    top: 199px;}
.ld-item-27{left: 98px;
    top: 170px;}
.ld-item-28{	left: 122px;
    top: 152px;}
.ld-item-29{	left: 337px;
    top: 130px;}
.ld-item-30{	left: 314px;
    top: 112px;}
.ld-item-31{	left: 287px;
    top: 97px;}
.ld-item-32{left: 258px;
    top: 91px;}




.animate-enter {
    -webkit-animation-iteration-count: 1;			
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;


	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;




}