<div class="view-wrapper" id="Download">
	<div class="container-fluid">
		<div class="main">
			<div class="row dl-header">
				<div class="col col-sm-3">
					<a class="navbar-brand" href="#!/"><span class="logo"></span><b>tenlua.vn</b></a>
					<!--user has-dropdown="{{authSrv.isAuthenticated()}}"></user-->
				</div>
				<div class="col col-sm-9" id="TopAd">
					<!--iframe width="728px" height="90px" scrolling="No" frameborder="0" style="overflow:hidden;" src="/ads-download-top-new.html"></iframe-->
					<img src="http://cdn.adnxs.com/p/c7/4c/6f/c2/c74c6fc24ca6026dfc8d885b293748ad.jpg">
				</div>
			</div>
			<div class="row dl-border">
				<div class="col col-sm-4" id="RightAd">				
					
					<!--iframe width="300px" height="250px" scrolling="No" frameborder="0" style="overflow:hidden;" src="/ads-download-right-new.html"></iframe>
					<iframe width="300px" height="250px" scrolling="No" frameborder="0" style="overflow:hidden;" src="/ads-download-right-new.html"></iframe-->
					<img src="http://cdn.adnxs.com/p/f3/8d/7b/48/f38d7b48a26111dfdc0ecc844b20862c.png">
					<br>
					<br>
					<img src="http://cdn.adnxs.com/p/f3/8d/7b/48/f38d7b48a26111dfdc0ecc844b20862c.png">
				</div>
				<div class="col col-sm-8 file-info">
					<div class="row" ng-class="{'can-view ': filesSrv.canView(file)}" ng-if="dataOk()">
						<div class="col col-sm-2">
							<!-- <b class="file-img _{{::file.ext}}" ng-class="::{thumbnail: file.image, folder: file.type==1}" ng-style="::file.style"></b> -->
							<b class="file-img _{{::file.ext}}" ng-click="viewFile()"></b>
						</div>
						<div class="col col-sm-6 file-detail">
							<h1 title="{{file.name}}">{{file.name}}</h1>
							<h3><span>Dung lượng: <b>{{file.size | byteFormat}}</b></span><span>Loại: <b>{{file.ext}}</b></span></h3>
							<div class="file-detail-action">
								<a ng-click="viewFile()" class="view-file"><i class="icon tl-icon-eye"></i> <span class="icon-label">Xem</span></a>
								<a ng-click="filesSrv.share(file)"><i class="icon tl-icon-link"></i> <span class="icon-label">Chia sẻ</span></a>
								<a ng-click="reportFile()"><i class="icon tl-icon-flag"></i> <span class="icon-label">Báo vi phạm</span></a>	
							</div>
						</div>
						<div class="col col-sm-4 file-actions">
							<button class="btn btn-success btn-download" ng-if="dataOk() && authSrv.isAuthorized(['gold','admin','uploader','lifetime'])" ng-click="downloadFast()" target="_top">Tải xuống nhanh {{file.size | byteFormat}}</button>


							<button class="btn btn-success btn-download" ng-if="dataOk() && !authSrv.isAuthorized(['gold','admin','uploader','lifetime'])" ng-click="download()" target="_top">Tải xuống {{file.size | byteFormat}}</button>


							
						</div>
					</div>

					<div class="row" ng-class="{'can-view ': filesSrv.canView(file)}" ng-if="dataOk()">
						<div class="col col-sm-7 content-file">
							<b>About Compressed Archive Files</b><br>
							<p>
								Compressed archives combine multiple files into a single file to make them easier to transport or save on diskspace. Archiving software may also provide options for encryption, file spanning, checksums, self-extraction, and self-installation. Zip is the most-widely used format, used by the Windows operating system and more recently by OSX as well. RAR is also a very popular and flexible format. Unix uses the tar file format, while Linux uses the tar and gz format.
							</p>
						</div>
						<div class="col col-sm-5">
							<span>
								
								<iframe frameborder="0" allowtransparency="true" scrolling="no" ng-src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftenlua.vn&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;width=300&amp;height=400" style="height: 400px" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftenlua.vn&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;width=300&amp;height=400"></iframe>

							</span>
						</div>
					    
						
							

					</div>

					<!--div class="paper-box-inner fast" ng-if="dataOk() && authSrv.isAuthorized(['gold','admin','uploader','lifetime'])">
						
						<a class="download fast" target="_top" ng-click="downloadFast()">
							<b class="count-down loading" ng-if="fastDownloaded">
								<div class="loading-dots show"><b></b><b></b><b></b></div>
							</b>
							<i class="tl-icon-angle-double-down" ng-if="!fastDownloaded"></i>
							<span>Tải xuống nhanh</span>
						</a>
					</div>

					<div class="row" ng-if="dataOk() && !authSrv.isAuthorized(['gold','admin','uploader','lifetime'])">
						<div class="col-sm-6 paper-box-wrap">
							<div class="paper-box">
								<h2>Free</h2>
								<ul>
									<li ng-repeat="item in features.free"><i class="tl-icon-check"></i>{{item.benefit}}</li>
									
								</ul>
								<div class="paper-box-inner">
									<a class="download" ng-click="download()">
										<b class="count-down" ng-class="{loading:countDown===0}" ng-if="countDownStarted">{{countDown}}
											<div class="loading-dots" ng-class="{show: countDown===0}"><b></b><b></b><b></b></div>
										</b>
										<i class="tl-icon-angle-double-down" ng-if="!countDownStarted"></i>
										<span>Tải xuống</span>
									</a>
								</div>
							</div>
						</div>

						<div class="col-sm-6 paper-box-wrap">
							<div class="paper-box">
								<h2>Gold</h2>
								<ul>
									<li ng-repeat="item in features.gold"><i class="tl-icon-check"></i>{{item.benefit}}</li>
									
								</ul>
								<div class="paper-box-inner">
									<a class="download fast" href="#!/plans">
										<i class="tl-icon-angle-double-down"></i>
										<span>Tải xuống nhanh</span>
									</a>
								</div>
							</div>
						</div>
					</div-->
				</div>
			</div>

			
		</div>
		<!-- /.main -->

		<div id="BottomAd">
			

			<!--div class="ad-frame" page="uiState.page.name" position="'bottom'" ng-if="localStorage.AUTH_currentUser.role.name != 'gold' && localStorage.AUTH_currentUser.role.name != 'uploader'"></div-->
			<img src="http://cdn.adnxs.com/p/c7/4c/6f/c2/c74c6fc24ca6026dfc8d885b293748ad.jpg">
		</div>

		
	</div>
	<!-- /.container-fluid -->
</div>