<div id="ads-price">
	<h2>BÁO GIÁ QUẢNG CÁO</h2>
	<div class="contact">
		Liên hệ: Mr.Phong
		Mobile: 0902433195
		Email: huynhquocphong@bstar.vn
		Cập nhật: 4/8/2015
		BÁO GIÁ QUẢNG CÁO
	</div>
	<div class="content">
		<p>
			<h3>BÁO GIÁ QUẢNG CÁO</h3>
			<table>
				<thead>
					<tr>
						<th>Vị trí</th>
						<th>Qui định quảng cáo</th>
						<th>Chia sẻ</th>
						<th>Giá bán (VND) Banner / tuần</th>
						<th>Miêu tả</th>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td>Banner A</td>
						<td>200x500px, .gif / .jpg / .swf</td>
						<td>2</td>
						<td>1,000,000</td>
						<td>Xuất hiện trong File Manager</td>
					</tr>
					<tr>
						<td>Top 728x90</td>
						<td>728x90px, .gif / .jpg / .swf</td>
						<td>2</td>
						<td>1,500,000</td>
						<td>Xuất hiện tại trang download file (đối với Free member)</td>
					</tr>
					<tr>
						<td>Left 300x250</td>
						<td>300x250px, .gif / .jpg / .swf</td>
						<td>2</td>
						<td>1,500,000</td>
						<td>Xuất hiện tại trang download file (đối với Free member)</td>
					</tr>
					<tr>
						<td>Right 200x200</td>
						<td>200x200px, .gif / .jpg / .swf</td>
						<td>1</td>
						<td>1,000,000</td>
						<td>Xuất hiện tại trang download file (đối với Free member)</td>
					</tr>
					<tr>
						<td>Bottom 728x90</td>
						<td>728x90px, .gif / .jpg / .swf</td>
						<td>1</td>
						<td>1,500,000</td>
						<td>Xuất hiện tại trang download file (đối với Free member)</td>
					</tr>
				</tbody>
			</table>
			<h3>VỊ TRÍ BANNER</h3>
		</p>
	</div>
</div>
