<a class="mask-fix app-footer-mask-fix" ng-if="uiState.appFooterShown" ng-click="uiState.appFooterShown = !uiState.appFooterShown"></a>
<footer id="AppFooter" class="overthrow" ng-class="{shown:uiState.appFooterShown}">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-sm-2 about">
				<h3>tenlua.vn</h3>
				<ul>
					<li><a href="#!/common/about">Giới thiệu</a>
					</li>
					<li><a href="#!/plans">Nâng cấp Gold Member</a>
					</li>
				</ul>
			</div>
			<div class="col col-sm-2 community">
				<h3>Cộng đồng</h3>
				<ul>
					<li><a href="https://www.facebook.com/tenlua.vn" target="_blank">Facebook</a>
					</li>
					<li><a href="#" target="_blank">Google+</a>
					</li>
					<li><a href="#" target="_blank">Twitter</a>
					</li>
					<li><a href="https://www.youtube.com/user/tenluavn1" target="_blank">Youtube</a>
					</li>
				</ul>
			</div>
			<div class="col col-sm-2 support">
				<h3>Hỗ trợ</h3>
				<ul>
					<li><a href="" ng-click="uiState.appFooterSupportShown = !uiState.appFooterSupportShown">Hỗ trợ trực tuyến</a>
					</li>
					<li><a href="#!/common/faq">Câu hỏi thường gặp</a>
					</li>
				</ul>
			</div>
			<div class="col col-sm-2 policy">
				<h3>Điều khoản</h3>
				<ul>
					<li><a href="#!/common/policy">Điều khoản dịch vụ</a>
					</li>
					<li><a href="#!/common/copyright">Bản quyền</a>
					</li>
					<li><a href="#!/common/privacy">Chính sách bảo mật</a>
					</li>
				</ul>
			</div>
			<div class="col col-sm-1 partner">
				<h3>Chính sách</h3>
				<ul>
					<li><a href="#!/common/uploader-policy">Uploader</a>
					</li>
					<li><a href="#!/common/agent-policy">Đại lý</a>
					</li>
				</ul>
			</div>
			<div class="col col-sm-3 company-info">
				<a href="http://www.bstar.vn"><strong class="company">Công Ty Cổ Phần Phát Triển Công Nghệ Sao Đôi</strong></a>
				<div>320/32 Trường Chinh, Phường 13, Quận Tân Bình, TP.HCM</div>
				<div class="copyright">Copyright &copy; 2013 -
					<strong>tenlua.vn</strong>
					<span class="logo"></span>
				</div>
				<div style="font-style:italic">Website đã đăng ký với Bộ công thương</div>
			</div>
		</div>
	</div>
</footer>


<a class="mask-fix app-footer-support-mask-fix" ng-if="uiState.appFooterSupportShown" ng-click="uiState.appFooterSupportShown = !uiState.appFooterSupportShown"></a>
<footer id="AppFooterSupport" class="overthrow" ng-class="{shown:uiState.appFooterSupportShown}">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-sm-12">
				<h2>Hỗ trợ trực tuyến</h2>
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-5 support-col support-skype">
				<h3>Skype</h3>
				<div class="row">
					<div class="col col-sm-6 col-md-4">
						<a href="skype:tenlua.support1?chat"><i class="tl-icon-skype"></i><b>Hỗ trợ 1</b></a>
					</div>
					<div class="col col-sm-6 col-md-4">
						<a href="skype:tenlua.support1?chat"><i class="tl-icon-skype"></i><b>Hỗ trợ 2</b></a>
					</div>
					<div class="col col-sm-6 col-md-4">
						<a href="skype:tenlua.support1?chat"><i class="tl-icon-skype"></i><b>Hỗ trợ 3</b></a>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col -->

			<div class="col col-sm-4 support-col support-yahoo">
				<h3>Yahoo</h3>
				<div class="row">
					<div class="col col-sm-6 col-md-4">
						<a href="ymsgr:sendim?tlsup1"><i class="tl-icon-social-yahoo"></i><b>Hỗ trợ 1</b></a>
					</div>
					<div class="col col-sm-6 col-md-4">
						<a href="ymsgr:sendim?tlsup1"><i class="tl-icon-social-yahoo"></i><b>Hỗ trợ 2</b></a>
					</div>
					<div class="col col-sm-6 col-md-4">
						<a href="ymsgr:sendim?tlsup1"><i class="tl-icon-social-yahoo"></i><b>Hỗ trợ 3</b></a>
					</div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col col-sm-3 support-col support-ticket">
				<h3>Kênh hỗ trợ trực tuyến</h3>
				<a href="http://support.tenlua.vn" target="_blank"><i class="tl-icon-lifebuoy"></i></a>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

	</div>
</footer>
