<form class="check-password-modal" name="checkPasswordForm" ng-submit="ok(checkPasswordForm)" novalidate>
	<div class="modal-header">
		<h2 class="modal-title"><i class="tl-icon-key"></i>
			<span>Nhập mật khẩu</span>
		</h2>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12 message" ng-if="modalMessage" ng-bind-html="modalMessage"></div>
		</div>
		<div class="row content">
			<div class="col col-sm-12">
				<input class="form-control" type="password" id="nodePassword" name="nodePassword" ng-model="node.password" placeholder="Mật khẩu" maxlength="{{passwordMaxLength}}">
			</div>
		</div>
	</div>
	<div class="modal-footer" ng-if="!isEnterNewPassword">
		<button class="btn btn-md btn-success" type="submit">OK</button>
		<a class="btn btn-md btn-default" ng-click="cancel()">Thôi</a>
	</div>
</form>
