<ul class="side-nav">
	<li><a scroll-to="#welcome" ng-class="{active: index==1}" class="hint--left hint--rounded" data-hint="Chào mừng"></a></li>
	<li><a scroll-to="#fm" ng-class="{active: index==2}" class="hint--left hint--rounded" data-hint="Trình quản lý file"></a></li>
	<li><a scroll-to="#share" ng-class="{active: index==3}" class="hint--left hint--rounded" data-hint="Chia sẻ"></a></li>
	<li><a scroll-to="#anytime" ng-class="{active: index==4}" class="hint--left hint--rounded" data-hint="Mọi lúc mọi nơi"></a></li>
</ul>
